*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Commuters Sans', sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
}

/* NAVBAR */
header{
  height: 60px;
}

.navigation{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease;
}

.navigation.sticky{
  padding: 10px 0;
  background: #05202b;
}

.navigation .logo a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
}

.navigation .contenu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .menu-liste {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.menu-liste li a{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-liste li{
  transition: 0.3s;
  padding: 0 60px;
}

.menu-liste li:hover{
  transform: scale(1.20);
}

.icon{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 868px){
  body.disabledScroll{
    overflow: hidden;
  }

  .icon{
    display: block;
    padding: 10px 0;
    font-size: 25px;
    transition: 0.3s;
  }

  .icon.hide{
    display: none;
    transition: 0.3s;
  }
  
  .navigation .menu-liste{
    position: fixed;
    top: 0;
    left: -150%;
    background: #222;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .navigation .menu-liste.active{
    left: 0%;
  }

  .navigation .menu-liste li{
    margin-top: 45px;
  }
  .navigation .menu-liste li a{
    font-size: 23px;
  }

  .icon {
    display: flex;
    padding: 15px 20px;
    font-size: 25px;
    transition: 0.3s;
    justify-content: flex-end;
}
}
@media screen and (max-width: 600px){
  .contenu{
    width: 0;
    margin: auto;
    padding: 0;
  }
}



/* GALLERIE */
body{
  background-color: #05202b;
}

h1{
  text-align: center;
  margin: 50px 0;
  font-weight: 300;
  font-size: 3em;
  color: white;
}
.gallery{
  columns: 3 400px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  margin: 10px;
  border-radius: 10px;
}


a{
  position: relative;
  text-decoration: none;
  color: #ffffff;
}


.gallery img{
  overflow: hidden;
  object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.gallery img:hover{
  transform: scale(1.008);
}

.gallery p{
  color: white;
  margin: 0 0 30px 0;
  font-size: 1.2em;
}


/* FOOTER */
footer{
  border-top: 2px solid white;
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #05202b;
}
footer img.logo{
  width: 250px;
  margin-bottom: 20px;
}

footer a{
  color: white;
}

footer .bloc{
  height: 355px;
}

footer .slogan{
  position: absolute;
  left: 20px;
  bottom: 20px;
}

footer .icon-social{
  margin: 35px 0;
}

footer .icon-social img{
  width: 35px;
  margin-right: 15px;
}


footer .center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .center ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .center ul li{
  margin: 0 30px;
  transition: 0.3s;
}

footer .center ul li:hover{
  transform: scale(1.10);
}



footer .right img{
  cursor: pointer;
  width: 30px;
}

/* RESPONSIVE */
@media screen and (max-width: 930px){
  footer img.logo{
    width: 200px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 620px){
  footer .center ul li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 500px){
  footer .center ul li {
    margin: 0 16px;
    font-size: 13px;
  }
}

@media screen and (max-width: 280px){
  footer .center ul li {
    margin: 0 8px;
    font-size: 12px;
  }
}