*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

.sec1{
    min-height: 100vh;
    min-height: 100svh;
    background-image: url(images/istoke.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sec1 img.logo{
    width: 500px;
}

.navbar img{
    width: 100px;
}

.navbar{
    z-index: 9;
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar .nav-links ul{
    display: flex;
  }
  
  .navbar .nav-links ul li{
    margin: 0 35px;
    transition: 0.2s;
  }
  
  .navbar .nav-links ul li a{
    color: #ffffff;
  }
  
  .navbar .nav-links ul li a:hover{
    color: #05202b;
}

.navbar ul li:hover{
    transform: scale(1.15);
}

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    cursor: pointer;
}


/* RESPONSIVE */
@media screen and (max-width: 590px){
  .sec1 img.logo{
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
    .navbar{
        padding: 0;
    }
    
    .navbar .menu-burger{
        display: block;
    }
    
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.799);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3px);
        margin-left: -100%;
        transition: 0.5s;
    }
    
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    
    
    .nav-links ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
        text-decoration: none;
    }
    
    .navbar .nav-links ul li a{
        color: #ffffff;
    }
}


/* SECTION 2 */

.sec2{
  background-color: #bdbdbd;
}

.sec2 img{
  width: 600px;
  border-radius: 10px;
  transition: 0.2s;
}

.sec2 img:hover{
  transform: translateY(-5px);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.50);
}

.sec2 h2{
  font-size: 2.5em;
}

.sec2 h1{
  margin-bottom: 100px;
}

.sec2 p{
  max-width: 600px;
  line-break: anywhere;
}

.sec2 .container{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2 .first .right{
  padding: 108px 25px;
  transition: 0.2s;
}

.sec2 .first .right:hover{
  background-color: #05202b;
  color: white;
  border-radius: 10px;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* _________________________________________________ */
.sec2 .second .left{
  padding: 108px 25px;
  transition: 0.2s;
}
.sec2 .second .left:hover{
  background-color: #05202b;
  border-radius: 10px;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* ____________________________________________________ */

.sec2 .third .right{
  padding: 108px 25px;
  transition: 0.2s;
}
.sec2 .third .right:hover{
  background-color: #05202b;
  border-radius: 10px;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* _____________________________________________________ */

.sec2 .fourth .left{
  padding: 108px 25px;
  transition: 0.2s;
}
.sec2 .fourth .left:hover{
  background-color: #05202b;
  border-radius: 10px;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* _____________________________________________________ */

.sec2 .fifth .right{
  padding: 108px 25px;
  transition: 0.2s;
}
.sec2 .fifth .right:hover{
  background-color: #05202b;
  border-radius: 10px;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.sec2 .title{
  width: 100%;
  margin-top: 40px;
  font-size: 2.5em;
  text-align: center;
  color: #05202b;
}

.content{
  width: 100%;
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #05202b;
  margin-bottom: 100px;
}

@media screen and (min-width: 1500px){
  .sec2 .first .right{
    max-width: 700px;
  }
  
  .sec2 .second .left{
    max-width: 700px;
  }
  
  .sec2 .third .right{
    max-width: 700px;
  }
  
  .sec2 .fourth .left{
    max-width: 700px;
  }
  
  .sec2 .fifth .right{
    max-width: 700px;
  }
  
}

.first, 
.second, 
.third, 
.fourth, 
.fifth{

}

/* RESPONSIVE */
@media screen and (max-width: 1500px){
  .sec2 .first .right{
    max-width: 610px;
    padding: 10px 0;
  }
  
  .sec2 .second .left{
    max-width: 610px;
    padding: 10px 0;
  }
  
  .sec2 .third .right{
    max-width: 610px;
    padding: 10px 0;
  }
  
  .sec2 .fourth .left{
    max-width: 610px;
    padding: 10px 0;
  }
  
  .sec2 .fifth .right{
    max-width: 610px;
    padding: 10px 0;
  }
  
  .sec2 .content{
    margin: 50px 0;
  }
  .sec2 .content h2{
    margin-bottom: 30px;
  }
  .first{
    flex-direction: column-reverse;
  }
  .second{
    flex-direction: column;
  }
  .third{
    flex-direction: column-reverse;
  }
  .fourth{
    flex-direction: column;
  }
  .fifth{
    flex-direction: column-reverse;
  }
  .sec2 .container{
    width: 100%;
    text-align: center;
  }
  .sec2 p{
    max-width: 900px;
    margin: 0 50px;
  }
  .sec2 .container .first .right{
    margin-bottom: 50px;
  }
  .sec2 .container .second .left{
    margin-bottom: 50px;
  }
  .sec2 .container .third .right{
    margin-bottom: 50px;
  }
  .sec2 .container .fourth .left{
    margin-bottom: 50px;
  }
  .sec2 .container .fifth .right{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 680px){
  .sec2 img{
    width: 90%;
  }
}

@media screen and (max-width: 650px){
  .sec2 .first .right{
    margin: 0 10px;
  }
  
  .sec2 .second .left{
    margin: 0 10px;
  }
  
  .sec2 .third .right{
    margin: 0 10px;
  }
  
  .sec2 .fourth .left{
    margin: 0 10px;
  }
  
  .sec2 .fifth .right{
    margin: 0 10px;
  }
}



/* SECTION 3 */
































/* FOOTER */


.footer-distributed{
    background: #05202b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }

  .footer-left img{
    width: 150px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }


  /*
   LOGO PAGE ACCUEIL PLUS GROS  
   PAGE ACCUEIL FAIRE UN EFFET DE ZOOM SUR LE BACKGROUND
   FOOTER COULEUR BLEU
   LOGO BLANC
   REMPLACER LES ICONES
   ENCERCLé LES ICONES TEL MAIL ADRESSE
   RETIRER LOGO SNAP
   inversé les couleurs de fond en hover les cards


   NOS SERVICES
   POUR CHAQUE SERVICE UNE PHOTO avec L'EFFET INVERSE A CHAQUE LIGNE
    NOS PROJETS REALISER :
    PAGE LONGUE 3 IMAGES PAR LIGNES + DESCRIPTION
    PAGE GALLERIE A LA PLACE DE PROJET REALISE
    3 PAR LIGNES avec DESCRIPTION + ZOOM AU HOVER ET CLIQUE POUR AGRANDIR

    PAGE CONTACT :
    FAIRE COMME DANS LIVE MAIS REMPLACER LES CARRE PAR DES RECTANGLES 


   FOOTER
   LOGO BLANC
   AJOUTER N°SIRET EN BAS DU LOGO

  */